body{
    font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
.back{
    background-image: url(images/donate-1.jpg);
    background-repeat: no-repeat;
    background: cover;
}
.help{ padding-right:400px;
    padding-left: 400px;
    padding-top: 100px;
text-align: center;
height: 400px;}
.help h1{font-weight: 900;
font-size:xx-large;}
.link-button{
    text-decoration:none ;
    color:white;
    padding: 10px 40px;
    background-image: linear-gradient(red,orange);
    font-weight: 400;
    border-radius: 5px;
    margin-top: 500px;
}
.middle{
    text-align: center;
    padding-right:400px;
    padding-left: 400px;
    padding-top: 100px;
    margin: 40px 0px 40px 0px ;
}
.balance{display: flex;
text-align: center;}
.amount{

    margin-top:40px ;
    margin-bottom:40px ;
}
input[type=text]{
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid grey;
    width:100%;
text-align: center;}
.same-balance{border: 2px solid red;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
margin-left:10px ;
margin-right:10px ;
height: 60px;
background-color: antiquewhite;}
.different-balance{
    padding: 10px;
    margin-left:10px ;
    margin-right:10px ;
    height: 50px;
background-color:azure

}
.food{padding-right:10px;
    padding-left:10px;
    padding-top: 30px;
    padding-bottom:10px ;
    margin: 20px 20px 20px 20px ;
    width: 30%;
    background-color: aliceblue;
    font-size: small;
}
.shelter{padding-right:10px;
    padding-left:10px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 20px 20px 20px 20px ;
    width: 30%;
    background-color: pink;
    font-size: small;

}

.education{padding-right:10px;
    padding-left:10px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 20px 20px 20px 20px ;
    width: 30%;
    background-color: burlywood;
    font-size: small;

}
.plan{display: flex;
    margin-left:200px ;
    margin-right:200px ;
}
.contribute{padding-right:50px;
    padding-left:50px;
    padding-top: 30px;
    padding-bottom: 10px;
    
    width: 50%;
    font-size: small;
}
.contribute h1{font-size:xx-large ;

}
.depend{
    display: flex;
    margin: 20px 100px 20px 100px ;   
}
.contribute img{width: 70%;
}
input[type=email]{
    box-sizing: border-box;
    padding:10px;
    background-color: gainsboro;
    color: brown;
    margin-right: -6px;
}
    input[type=submit]{
    padding:10px;
        background-color: red;
        color:white;
}
.type{background-color: cornsilk;
padding: 20px;}
footer h1{font-family: 'Lobster', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;
font-size: xx-large;
font-weight: 900;
color: red;}
footer{ padding-right:400px;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
text-align: center;
height: 100px;
background-color: black;}
footer small{
    color: white;
}


    





   
    


